.admin-log {
  width: 100vw;
}
.admin-log h2 {
  margin-top: 2rem;
  text-align: center;
  color: var(--darkBlue);
}
.admin-form {
  background-color: rgba(255, 255, 255, 0.85);
  width: 60%;
  max-width: 280px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
  border-radius: 5px;
}
.admin-entries {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.admin-name {
  width: 80%;
  margin: auto;
}
.admin-pass {
  position: relative;
}
.admin-inputs {
  margin-bottom: 0.5rem;
}
.admin-inputs input {
  margin: auto;
  width: 100%;
}
.admin-passwordInput,
.admin-password,
.admin-name {
  height: 22px;
}

.admin-password-icon_open {
  position: absolute;
  right: 0%;
  top: 20%;
  cursor: pointer;
  color: var(--darkBlue);
  z-index: 99;
}
.admin-password-icon_closed {
  position: absolute;
  right: 0%;
  top: 20%;
  display: none;
  cursor: pointer;
  color: var(--darkBlue);
  z-index: 99;
}
.admin-submit {
  margin: auto;
  width: 30%;
  text-align: center;
  background-color: var(--darkBlue);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.admin-log .link-home {
  display: block;
}
.admin-log p {
  color: var(--veryDarkBlue);
  margin-bottom: 0;
}
.help input:first-child {
  cursor: copy;
  width: 2.5rem;
  padding: 0;
  text-align: center;
}
.help input:last-child {
  cursor: copy;
  width: 5rem;
  padding: 0;
  text-align: center;
}
