.home {
  width: 100vw;
}
.main-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside-right {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-link {
  position: absolute;
  right: 5px;
  top: 0%;
  padding: 1rem 0.5rem 1rem 0.5rem;
  z-index: 99;
  background-color: var(--veryDarkBlue);
  line-height: 1rem;
}
a {
  text-decoration: none;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.admin-link:hover + .alert {
  display: block;
}
.alert {
  width: 12rem;
  color: white;
  font-size: 0.8rem;
  display: none;
  position: absolute;
  right: 0;
  top: 2%;
}

@media screen and (min-width: 900px) {
  .main-home {
    flex-direction: row;
  }
}
