.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  position: relative;
  margin-top: 1rem;
}
.logo {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 50%;
  background-color: white;
}
.logo1 {
  background-image: url("../../../public/images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo2 {
  background-image: url("../../../public/images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo3 {
  background-image: url("../../../public/images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo4 {
  background-image: url("../../../public/images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo5 {
  background-image: url("../../../public/images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo6 {
  background-image: url("../../../public/images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo-txt1 {
  width: 70%;
  height: 10rem;
  margin: -4rem auto;
  background-image: url("../../../public/images/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  left: 5%;
  top: 75%;
  transform: rotate(-120deg);
}
.logo-txt2 {
  width: 70%;
  height: 10rem;
  margin: -4rem auto;
  background-image: url("../../../public/images/home2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  left: 25%;
  top: 15%;
  transform: rotate(70deg);
}
