.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  position: relative;
  margin-top: 1rem;
}
.logo {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 50%;
  background-color: white;
}
.logo1 {
  background-image: url("/images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo2 {
  background-image: url("/images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo3 {
  background-image: url("/images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo4 {
  background-image: url("/images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo5 {
  background-image: url("/images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo6 {
  background-image: url("/images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo-txt1 {
  width: 70%;
  height: 10rem;
  margin: -4rem auto;
  background-image: url("/images/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  left: 5%;
  top: 75%;
  transform: rotate(-120deg);
}
.logo-txt2 {
  width: 70%;
  height: 10rem;
  margin: -4rem auto;
  background-image: url("/images/home2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  left: 25%;
  top: 15%;
  transform: rotate(70deg);
}

@media screen and (min-width: 384px) {
  .logo {
    width: 5.5rem;
    height: 5.5rem;
    margin: 1rem;
  }
}
@media screen and (min-width: 480px) {
  .logo {
    width: 7rem;
    height: 7rem;
    margin: 1rem;
  }
}
@media screen and (min-width: 480px) {
  .logo {
    width: 7rem;
    height: 7rem;
    margin: 1.2rem;
  }
  .logos {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 480px) {
  .logo {
    width: 7rem;
    height: 7rem;
    margin: 1.6rem;
  }
  .logos {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 653px) {
  .logo {
    width: 8rem;
    height: 8rem;
    margin: 1.6rem;
  }
  .logos {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 717px) {
  .logo {
    width: 8rem;
    height: 8rem;
    margin: 2rem;
  }
  .logos {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .logos {
    max-width: 768px;
  }
  .logo {
    width: 11rem;
    height: 11rem;
    margin: 1.4rem;
  }
  .logos {
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 900px) {
  .logo {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }
  .logos {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 928px) {
  .logo {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
  }
  .logos {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1044px) {
  .logo {
    width: 8rem;
    height: 8rem;
    margin: 1rem;
  }
  .logos {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1172px) {
  .logo {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
  .logos {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1316px) {
  .logo {
    width: 11rem;
    height: 11rem;
    margin: 1rem;
  }
  .logos {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1450px) {
  .logo {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
  }
  .logos {
    margin-top: 2rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .logo {
    width: 14rem;
    height: 14rem;
    margin: 2.5rem 3rem;
  }
  .logos {
    max-width: 1000px;
  }
  .logo-txt1 {
    height: 12rem;
  }
}
