.admin {
  width: 100vw;
  margin: auto;
}
.main-admin {
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.main-admin button {
  background-color: var(--darkBlue);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
h2 {
  text-align: center;
}
