.HowTo {
  width: 90%;
  height: 100%;
  background-color: var(--veryDarkBlue);
  padding: 1rem;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 1rem;
}
.HowTo h2 {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  color: var(--veryDarkBlue);
  background-color: white;
  border-radius: 5px;
}
.HowTo h3 {
  margin: 0;
  font-size: 1.1rem;
}
.HowTo p {
  text-indent: 1rem;
}
table {
  margin: auto;
  border-spacing: 10px 10px;
}
caption {
  color: var(--veryDarkBlue);
  background-color: white;
}

th {
  text-align: left;
  padding-left: 1rem;
}

table input {
  cursor: copy;
  width: 100%;
  padding: 0;
  color: white;
  background-color: var(--veryDarkBlue);
  border: none;
  text-align: left;
}

.td-large {
  width: 100%;
}

.advert-copy {
  font-size: 0.7rem;
  text-align: right;
}

@media screen and (min-width: 400px) {
  table {
    width: 80%;
  }
}
@media screen and (min-width: 550px) {
  .HowTo {
    max-width: 495px;
  }
  table {
    width: 70%;
  }
}
@media screen and (min-width: 800px) {
  .HowTo {
    width: 50%;
    margin-left: 1rem;
  }
  table {
    width: auto;
  }
}
@media screen and (min-width: 900px) {
  .HowTo {
    max-width: 500px;
    width: 100%;
  }
  table {
    max-width: 350px;
  }
}
