.error-log {
  width: 85%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15%;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.error-log p {
  background-color: white;
  padding: 0.5rem;
}
.error-log .back-btn {
  width: 30%;
  font-size: 1.2rem;
  background-color: var(--veryDarkBlue);
  color: white;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
}
